body {
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(20, 14, 49);
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 0;
  text-align: center;
}

.btn {
  background-color: rgb(20, 14, 49);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}

.feature img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.team-members a {
  margin: 0 10px;
  color: #333;
}
